<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cjc.androidactivitydemo">


    <!--
    allowBackup:允许系统备份
    icon:应用图标
    label:应用名称
    roundIcon:圆形图标android 8.0开始支持
    supportsRtl:从左到右布局
    theme:主题

    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Skip2BrowserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">

        </activity>

        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="com.cjc.LOGIN_INFO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>


    </application>

</manifest>